body {
    background-color: #1a1a2e; /* Biru Gelap Nyaman */
    color: #e94560; /* Merah Muda Enerjik */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    background: #16213e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border-bottom: 5px solid #e94560;
}

.btn-nav {
    background-color: #e94560;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.3s;
}

.btn-nav:hover {
    transform: scale(1.1); /* Efek tombol membesar sedikit */
    background-color: #ff2e63;
}
